
<div class="row m-3">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-3">
    <input [(ngModel)]="tenKhachHang"  class="form-control" type="search" placeholder="Tìm kiếm theo tên khách hàng"
           aria-label="Search" name="employeeName"></div>
  <div class="col-sm-2">
    <button type="button" class="btn" style="background-color: lightskyblue" (click)="searchCustomer()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
           viewBox="0 0 16 16">
        <path
          d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
      </svg>
      Tìm kiếm
    </button>
  </div>
  <div class="col-sm-3">
    <input [(ngModel)]="idSTK"  class="form-control" type="search" placeholder="Tìm kiếm theo id sổ tiết kiệm"
           aria-label="Search" name="employeeName"></div>
  <div class="col-sm-2">
    <button type="button" class="btn" style="background-color: lightskyblue" (click)="search()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
           viewBox="0 0 16 16">
        <path
          d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
      </svg>
      Tìm kiếm
    </button>
  </div>
</div>
<table class="table table-striped text-center">
  <thead>
  <tr style="background-color: pink">
    <th>#</th>
    <th>Mã số sổ</th>
    <th>Tên Khách Hàng</th>
    <th>Ngày mở sổ</th>
    <th>Ngày gửi</th>
    <th>Kì hạn</th>
    <th>Số tiền gửi</th>
    <th>Lãi suất</th>
    <th>Ưu đãi</th>
    <th>Sửa</th>
    <th>Xóa</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of danhSachSTK | paginate: { itemsPerPage: 5, currentPage: p },let i=index">
    <td>{{p*5+i-4}}</td>
    <td>{{item.id}}</td>
    <td>{{item.tenkhachHang}}</td>
    <td>{{item.thoiGian.ngayMoSo | date}}</td>
    <td>{{item.thoiGian.ngayGui | date}}</td>
    <td>{{item.kiHan}}</td>
    <td>{{item.soTienGui}}</td>
    <td>{{item.laiSuat}}</td>
    <td>{{item.uuDai}}</td>
    <td>
      <button [routerLink]="['/edit',item.id]" type="button" class="btn btn-warning">Edit</button>
    </td>
    <td>
      <button (click)="openDialog(item.id)" type="button" class="btn btn-danger">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
<div class="col-4">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>


