<div class="alert mt-3" role="alert" style="background-color: #E8E7F5">
  <h4 class="alert-heading">Information Customer : </h4>
  <div>
    <div class="card mb-3 rounded-3" style="width: 70%;margin:20px 15%">
      <div class="row no-gutters">
        <div class="col-md-6">
          <img src="assets/image/hoa4.jpg" style="width: 100%">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <table style="text-align: center;width: 90%">
              <tr><h5 class="card-title" style="text-align: center">Nhung</h5></tr>
              <tr>
                <td><img src="assets/image/icon.gif"></td>
                <td>Customer Code:</td>
                <td></td>
              </tr>
              <tr>
                <td><img src="assets/image/icon.gif"></td>
                <td>Customer Type:</td>
                <td></td>
              </tr>
              <tr>
                <td><img src="assets/image/icon.gif"></td>
                <td>Customer Birthday:</td>
                <td></td>
              </tr>
              <tr>
                <td><img src="assets/image/icon.gif"></td>
                <td>Customer Gender:</td>
                <td></td>
              </tr>
              <tr>
                <td><img src="assets/image/icon.gif"></td>
                <td>Customer Id Card:</td>
                <td></td>
              </tr>
              <tr>
                <td><img src="assets/image/icon.gif"></td>
                <td>Customer Phone:</td>
                <td></td>
              </tr>
              <tr>
                <td><img src="assets/image/icon.gif"></td>
                <td>Customer Email:</td>
                <td></td>
              </tr>
              <tr>
                <td><img src="assets/image/icon.gif"></td>
                <td>Customer Address:</td>
                <td></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
  <hr>
  <div class="table-responsive">
    <div class="mb-0" style="margin-left: 80%">
      <a [routerLink]="['/customer-list']">
        <button type="button" class="btn m-2" style="background-color: #9EDEED">Back to List Customer</button>
      </a>
    </div>
  </div>
</div>

