<div class="alert mt-3 table-responsive" role="alert" style="background-color: #E8E7F5">
  <h4 class="alert-heading">Information Contract Detail : </h4>
  <div>
    <div class="card mb-3 rounded-3" style="width: 70%;margin:20px 15%">
      <div class="row no-gutters">
        <div class="col-md-6">
          <img src="assets/image/contract2.jpg" style="width: 100%">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <table style="text-align: center;width: 90%">
              <tr><h5 class="card-title" style="text-align: center">Nhung</h5></tr>
              <tr>
                <td style="width: 10%"><img src="assets/image/icon3.gif"></td>
                <td>Contract :</td>
                <td>27/07</td>
              </tr>
              <tr>
                <td style="width: 10%"><img src="assets/image/icon3.gif"></td>
                <td>Attach Service :</td>
                <td>Nghệ An</td>
              </tr>
              <tr>
                <td style="width: 10%"><img src="assets/image/icon3.gif"></td>
                <td>Quantity :</td>
                <td>Nghệ An</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
  <hr>
  <div class="mb-0" style="margin-left: 80%">
    <a [routerLink]="['/contract-detail-list']">
      <button type="button" class="btn m-2" style="background-color: #9EDEED">Back to List Contract Detail</button>
    </a>
  </div>
</div>

