<h2 class="text-center">
  Todo App
</h2>
<div class="row m-3">
  <div class="col-sm-4">
    <a [routerLink]="['/create']">
      <button type="button" class="btn" style="background-color: #EBE1FA">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-plus"
             viewBox="0 2 16 16">
          <path
            d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
          <path fill-rule="evenodd"
                d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
        </svg>
        Create
      </button>
    </a>
  </div>
  <div class="col-sm-3">
  </div>
  <div class="col-sm-3">
    <input [(ngModel)]="termName" class="form-control" type="search" placeholder="Search By Name"
           aria-label="Search" name="employeeName"></div>
  <div class="col-sm-2">
    <button type="button" class="btn" style="background-color: #FADEED" (click)="search()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
           viewBox="0 0 16 16">
        <path
          d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
      </svg>
      Search
    </button>
  </div>
</div>
<div class="col-md-8 offset-md-2">
  <ul>
    <li (click)="toggleTodo(i)"
        *ngFor="let todo of todos; index as i" [class.complete]="todo.complete">
      {{todo.content}}
    </li>
  </ul>
</div>
<table class="table table-striped text-center">
  <thead>
  <th>#</th>
  <th (click)="sort()">Content</th>
  <th>Complete</th>
  <th>Edit</th>
  <th>Delete</th>
  </thead>
  <tbody>
  <tr *ngFor="let item of todos | paginate: { itemsPerPage: 5, currentPage: p },let i=index">
    <td>{{i + 1}}</td>
    <td>{{item.content}}</td>
    <td>{{item.complete}}</td>
    <td>
      <button [routerLink]="['/edit',item.id]" type="button" class="btn btn-warning">Edit</button>
    </td>
    <td>
      <button (click)="openDialog(item.id)" type="button" class="btn btn-danger">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
<div class="col-4">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
