<div class="mt-3 container-fluid mx-0 px-0 mb-3">
  <form [formGroup]="contactForm" novalidate>
    <div class="alert" role="alert" style="margin: 0 7%;background-color: #E8E7F5">
      <h4 class="alert-heading" style="text-align: center">Please enter the information below !</h4>
      <hr>
      <div style="margin: 0 7%">
        <label class="col-md-4 control-label ">Code</label>
        <div class="input-group mb-3">
          <span class="input-group-text"><img src="assets/image/icon2.gif"></span>
          <input formControlName="employeeCode" type="text" class="form-control" placeholder=""
                 aria-label="Example text with button addon"
                 aria-describedby="button-addon1">
        </div>
        <div
          *ngIf="!contactForm.controls.employeeCode?.valid && (contactForm.controls.employeeCode?.dirty
           ||contactForm.controls.employeeCode?.touched)">
          First Name is not valid
        </div>
        <label class="col-md-4 control-label ">Name</label>
        <div class="input-group mb-3">
          <span class="input-group-text"><img src="assets/image/icon2.gif"></span>
          <input formControlName="employeeName" type="text" class="form-control" placeholder=""
                 aria-label="Example text with button addon"
                 aria-describedby="button-addon1">
        </div>
        <div
          *ngIf="!contactForm.controls.employeeName?.valid && (contactForm.controls.employeeName?.dirty
           ||contactForm.controls.employeeName?.touched)">
          First Name is not valid
        </div>
        <label class="col-md-4 control-label ">Birthday</label>
        <div class="input-group mb-3">
          <span class="input-group-text"><img src="assets/image/icon2.gif"></span>
          <input formControlName="employeeBirthday" type="date" class="form-control" placeholder=""
                 aria-label="Example text with button addon"
                 aria-describedby="button-addon1">
        </div>
        <div
          *ngIf="!contactForm.controls.employeeBirthday?.valid && (contactForm.controls.employeeBirthday?.dirty
           ||contactForm.controls.employeeBirthday?.touched)">
          First Name is not valid
        </div>
        <label class="col-md-4 control-label ">Id Card</label>
        <div class="input-group mb-3">
          <span class="input-group-text"><img src="assets/image/icon2.gif"></span>
          <input formControlName="employeeIdCard" type="text" class="form-control" placeholder=""
                 aria-label="Example text with button addon"
                 aria-describedby="button-addon1">
        </div>
        <div
          *ngIf="!contactForm.controls.employeeIdCard?.valid && (contactForm.controls.employeeIdCard?.dirty
           ||contactForm.controls.employeeIdCard?.touched)">
          First Name is not valid
        </div>
        <label class="col-md-4 control-label ">Salary</label>
        <div class="input-group mb-3">
          <span class="input-group-text"><img src="assets/image/icon2.gif"></span>
          <input formControlName="employeeSalary" type="text" class="form-control" placeholder=""
                 aria-label="Example text with button addon"
                 aria-describedby="button-addon1">
        </div>
        <div
          *ngIf="!contactForm.controls.employeeSalary?.valid && (contactForm.controls.employeeSalary?.dirty
           ||contactForm.controls.employeeSalary?.touched)">
          First Name is not valid
        </div>
        <label class="col-md-4 control-label ">Phone</label>
        <div class="input-group mb-3">
          <span class="input-group-text"><img src="assets/image/icon2.gif"></span>
          <input formControlName="employeePhone" type="text" class="form-control" placeholder=""
                 aria-label="Example text with button addon"
                 aria-describedby="button-addon1">
        </div>
        <div
          *ngIf="!contactForm.controls.employeePhone?.valid && (contactForm.controls.employeePhone?.dirty
           ||contactForm.controls.employeePhone?.touched)">
          First Name is not valid
        </div>
        <label class="col-md-4 control-label ">Email</label>
        <div class="input-group mb-3">
          <span class="input-group-text"><img src="assets/image/icon2.gif"></span>
          <input formControlName="employeeEmail" type="text" class="form-control" placeholder=""
                 aria-label="Example text with button addon"
                 aria-describedby="button-addon1">
        </div>
        <div
          *ngIf="!contactForm.controls.employeeEmail?.valid && (contactForm.controls.employeeEmail?.dirty
           ||contactForm.controls.employeeEmail?.touched)">
          First Name is not valid
        </div>
        <label class="col-md-4 control-label ">Address</label>
        <div class="input-group mb-3">
          <span class="input-group-text"><img src="assets/image/icon2.gif"></span>
          <input formControlName="employeeAddress" type="text" class="form-control" placeholder=""
                 aria-label="Example text with button addon"
                 aria-describedby="button-addon1">
        </div>
        <div
          *ngIf="!contactForm.controls.employeeCode?.valid && (contactForm.controls.employeeCode?.dirty
           ||contactForm.controls.employeeCode?.touched)">
          First Name is not valid
        </div>
        <label class="col-md-4 control-label ">Position</label>
        <div class="input-group mb-3">
          <span class="input-group-text"><img src="assets/image/icon2.gif"></span>
          <select  formControlName="position" class="form-select" id="inputGroupSelect01">
            <option *ngFor="let item of positions" [ngValue]="item">{{item.positionName}}</option>
          </select>
        </div>
        <div
          *ngIf="!contactForm.controls.position?.valid && (contactForm.controls.position?.dirty
           ||contactForm.controls.position?.touched)">
          First Name is not valid
        </div>
        <label class="col-md-4 control-label ">EducationDegree</label>
        <div class="input-group mb-3">
          <span class="input-group-text"><img src="assets/image/icon2.gif"></span>
          <select  formControlName="educationDegree" class="form-select" id="inputGroupSelect02">
            <option *ngFor="let item of educations" [ngValue]="item" >{{item.educationDegreeName}}</option>
          </select>
        </div>
        <div
          *ngIf="!contactForm.controls.educationDegree?.valid && (contactForm.controls.educationDegree?.dirty
           ||contactForm.controls.educationDegree?.touched)">
          First Name is not valid
        </div>
        <label class="col-md-4 control-label ">Division</label>
        <div class="input-group mb-3">
          <span class="input-group-text"><img src="assets/image/icon2.gif"></span>
          <select  formControlName="division" class="form-select" id="inputGroupSelect03">
            <option *ngFor="let item of divisions" [ngValue]="item">{{item.divisionName}}</option>
          </select>
        </div>
        <div
          *ngIf="!contactForm.controls.division?.valid && (contactForm.controls.division?.dirty
           ||contactForm.controls.division?.touched)">
          First Name is not valid
        </div>
      </div>
      <hr>
      <div class="row table-responsive">
        <div class="col-10"></div>
        <div class="col-2">
          <button (click)="editEmployee()" type="submit" class="btn m-2" style="background-color: #8ADA9E" [disabled]="!contactForm.valid">
            Edit
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
