<div class="alert mt-3 table-responsive" role="alert" style="background-color: #E8E7F5">
  <h4 class="alert-heading">Information Service : </h4>
  <div>
    <div class="card mb-3 rounded-3" style="width: 70%;margin:20px 15%">
      <div class="row no-gutters">
        <div class="col-md-6">
          <img src="assets/image/furama12.jpg" style="width: 100%">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <table style="text-align: center;width: 90%">
              <tr><h5 class="card-title" style="text-align: center">Nhung</h5></tr>
              <tr>
                <td><img src="assets/image/icon.gif"></td>
                <td>Service Code:</td>
                <td></td>
              </tr>
              <tr>
                <td><img src="assets/image/icon.gif"></td>
                <td>Service Area:</td>
                <td></td>
              </tr>
              <tr>
                <td><img src="assets/image/icon.gif"></td>
                <td>Cost:</td>
                <td></td>
              </tr>
              <tr>
                <td><img src="assets/image/icon.gif"></td>
                <td>Max People:</td>
                <td></td>
              </tr>
              <tr>
                <td><img src="assets/image/icon.gif"></td>
                <td>Rent Type:</td>
                <td></td>
              </tr>
              <tr>
                <td><img src="assets/image/icon.gif"></td>
                <td>Service Type:</td>
                <td></td>
              </tr>
              <tr>
                <td><img src="assets/image/icon.gif"></td>
                <td>Standard Room:</td>
                <td></td>
              </tr>
              <tr>
                <td><img src="assets/image/icon.gif"></td>
                <td>Description Other Convenience:</td>
                <td></td>
              </tr>
              <tr>
                <td><img src="assets/image/icon.gif"></td>
                <td>Pool Area:</td>
                <td></td>
              </tr>
              <tr>
                <td><img src="assets/image/icon.gif"></td>
                <td>Number Of Floor:</td>
                <td></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
  <hr>
  <div class="mb-0" style="margin-left: 80%">
    <a [routerLink]="['/service-list']"><button type="button" class="btn m-2" style="background-color: #9EDEED">Back to List Service</button></a>
  </div>
</div>

